{% extends "meteo_app/base.html" %}
<!-- Шаблон для страницы с информацией о приложении -->
{% block content %}
    <div class="container">
        <dl class="row">
            <dt class="col-sm-3 mt-5 header-text">Информация о web-приложении</dt>
            <dd class="col-sm-9 mt-5 header-text">Web-приложение реализовано для предоставления доступа к текущим и архивным данным,
                полученным от метеорологической станции, установленной на базе ИГВИЭ МЭИ.
                Данная работа выполнялась в рамках сотрудничества кафедры ВМСС и кафедры ИГВИЭ НИУ МЭИ.
            </dd>
            <dt class="col-sm-3 mt-5 mb-5 header-text">Разработал:</dt>
              <dd class="col-sm-9 mt-5 mb-5 header-text">Студент группы А-12-18:
               Красавина Дарья
              </dd>
        </dl>
    </div>
{% endblock %}